.secret {
    margin: 0;
    font-size: 16rem;
    letter-spacing: 15px;
    display: flex;
    list-style: none;
}

.loading {
    font-size: 1.5rem;
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }